.contact_us {
  background-color: lightblue;
  padding-left: 20px;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: white;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.footer a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 40.375em) {
  .footer__addr {
    flex: 1 0px;
  }
}
